@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yrsa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


#myPagination {
    font-weight: 600;
    text-align: center;
  }
#prodCateg {
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
}
#prodName {
    font-family: 'Tajawal', sans-serif;
    color: #2979ff ;
    font-weight: bold;
}
#prodPrice {
    font-family: 'Yrsa', serif;
}
.fa-eye {
    color: #2979ff   ;
    font-size:  15px;
}
.fa-trash {
    color: red;
    font-size:  15px;
}
#Brd{
     width: auto;
     height: auto;
 }
h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: bold;
}
.price{
     margin-top: 10px;
}
.view{
     margin-left: 100px;
}