<div class="container-fluid mt-3 mb-3" *ngIf="cartProducts.length > 0">
  <div class="row">
    <div class="col-8  m-0 ">
      <h3 class="ml-5">
        My Cart
      </h3>
    </div>
    <div class="col-4 m-0 p-0">
      <h3>
        Order Summary
      </h3>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-8 z-depth-1-half  border border-top-0 border-bottom-0">
      <div class="row bg-white mb-2"
        *ngFor="let product of cartProducts">
        <div class="col-4 my-4">
          <a [routerLink]="['/product-info', product.$key]">
            <div class="view overlay hm-white-slight">
              <img [src]="product.imageUrl" class="img-fluid" alt="" width="120px" height="120px">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
          </a>
        </div>
        <div class="col-4 my-4">
          <div class="caption">
            <a class="text-muted mt-5" id="prodCateg">
              <h5>{{ product.category }}</h5>
            </a>
            <h5 class="card-title">
              <strong>
                <a [routerLink]="['/product-info', product.$key]" id="prodName">{{ product.prodName }}</a>
                <div class="price">
                  <span class="left" id="prodPrice">&#8369; {{ product.price | number:'1.2'}}</span>
                  <span class="right">
                    <br>
                    <a class="mr-3" placement="top" mdbTooltip="Quick Look" container="body"
                      [routerLink]="['/product-info', product.$key]">
                      <i class="fa fa-eye"></i>
                    </a>
                    <a placement="top" mdbTooltip="Remove Product" container="body"
                      (click)="removeCartProduct(product)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </span>
                </div>
              </strong>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <app-cart-calculator [products]="cartProducts"></app-cart-calculator>
    </div>
  </div>
</div>
<div class="container" *ngIf="cartProducts.length === 0">
  <app-no-products-found [title]="messageTitle" [description]="messageDescription"></app-no-products-found>
</div>