@import url("https://fonts.googleapis.com/css?family=Hind:700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Yrsa&display=swap');

.badge-warning{
  position:absolute;
  top: 7px;
  right: 33px;
  font-weight: bold;
 }
 
 h5{
  font-size: 20px;
  font-family: 'Yrsa', serif;
 }

.badge{padding: 3px 7px;
  font-size: 50px;
  font-weight: 700;
  white-space: nowrap;
  color: #fff;
  background-color: red;
  border-radius: 9px;
  display: inline-block;
  vertical-align: baseline;

}

#nezuko {
  height: 50px;
  width: 50px;
}

#logoIge {
  animation: 5s rotate180 infinite linear;
}

@keyframes rotate180 {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  20% {
    transform: rotateY(72deg);
    opacity: 0.8;
  }
  40% {
    transform: rotateY(144deg);
    opacity: 0.4;
  }
  60% {
    transform: rotateY(216deg);
    opacity: 0.4;
  }
  80% {
    transform: rotateY(288deg);
    opacity: 0.8;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto;
  right: 0px;
}

.mainMenuList {
  font-family: "Hind", sans-serif;
}

.megamenu {
  position: static;
}

nav {
  background-image: url("/assets/404 image/main-bg.jpg");
}

.nav-item a {
  color: white;
}
.row {
  background-image: url("/assets/404 image/main-bg.jpg");
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}

h6 {
  color: white;
}

#menu {
  color: white;
}

a:hover {
  text-decoration: underline;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  outline: none;
}

i {
  color: white;
  cursor: pointer;
}
.viewCart {
  font-family: "Hind", sans-serif;
}


