<!--Main Navigation-->
<header>
  <nav class="navbar navbar-expand-xl">
    <a href="" class="mr-5"><img src="assets\logo\IGE-LOGO.png" width="50" height="50" alt="" id="logoIge"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="assets\logo\nezuko.png" alt="" id="nezuko">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown megamenu mainMenuList "><a id="megamneu" href="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false " class="nav-link dropdown-toggle font-weight-bold text-uppercase"
            id="menu">Shop</a>
          <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
            <div class="container">
              <div class="row rounded-0 m-0 shadow-sm">
                <div class="col-lg-7 col-xl-8">
                  <div class="p-4">
                    <div class="row">
                      <div class="col-lg-12 mb-4">
                        <h6 class="font-weight-bold text-uppercase "><a routerLink="shopping-cart">Electronic
                            Devices</a>
                        </h6>
                        <ul class="list-unstyled">
                          <li class="nav-item"><a [routerLink]="['/shopping-cart']"
                              class="nav-link text-small pb-0">Asus</a></li>
                          <li class="nav-item"><a [routerLink]="['/shopping-cart']"
                              class="nav-link text-small pb-0">Huawei</a></li>
                          <li class="nav-item"><a [routerLink]="['/shopping-cart']"
                              class="nav-link text-small pb-0">Iphone</a></li>
                          <li class="nav-item"><a [routerLink]="['/shopping-cart']"
                              class="nav-link text-small pb-0">Oppo</a></li>
                          <li class="nav-item"><a [routerLink]="['/shopping-cart']"
                              class="nav-link text-small pb-0">Samsung</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a routerLink="promo" class="nav-link mainMenuList font-weight-bold text-uppercase" id="menu">Promo</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a (click)="goToHelp()" class="nav-link mainMenuList font-weight-bold text-uppercase" id="help">help</a>
        </li>
        <li class="nav-item">
          <a routerLink="about-us" id="menu" class="nav-link mainMenuList font-weight-bold text-uppercase">About us</a>
        </li>
      </ul>
      <i class="fas fa-shopping-cart fa-lg mt-2 ml-auto mr-5" (click)="goToCart()">
        <h5><span class="bagde badge-warning badge-pill amber">{{service.navbarCartCount}}</span></h5>
      </i>
    </div>
  </nav>
</header>
<!--Main Navigation-->