@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

.content {
  background-image: url("/assets/404 image/main-bg.jpg");
  height: 681px;
}

.logo {
  text-align: center;
  margin-bottom: 5px;
}
.text {
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}
h5{
  margin-top: 30px;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
}
