<div class="content">
    <div class="logo">
        <img src="assets\logo\IGE-LOGO.png" class="pnfBg" width="200px" height="150px" alt="Inter Gadget Logo">
    </div>
    <div class="text">
        <img src="assets\404 image\404-image.png" alt="">
        <div>
            <h5>Page Not Found</h5>
            <button type="button" (click)="homePage()">Home Page</button>
        </div>
    </div>
</div>