<div class="container-fluid">
    <div class="row">
        <div class="firs-content col-xl-2 col-lg-2 col-md-2 col-sm-2 mt-4">
            <div class="card-size">
                <div class="card z-depth-1 pb-4">
                    <div class="text-center mt-3">
                        <img src="assets\logo\IGE-LOGO.png">
                    </div>
                    <div class="card-body myButtons">
                        <button type="button" class="btn btn-info userButton" id="cp">Change Password</button>
                        <button type="button" class="btn btn-danger userButton" id="lo"
                            (click)="logOut()">LogOut</button>
                    </div>
                    <app-add-product (formValueOut)="formValueIn($event)"></app-add-product>
                </div>
            </div>
        </div>

        <div class="col-xl-10">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#home" class="nav-link active" role="tab" data-toggle="tab"
                        (click)="navigateHome()">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#inventory" class="nav-link" role="tab" data-toggle="tab"
                        (click)="navigateInventory()">Inventory</a>

                </li>
                <li class="nav-item">
                    <a href="#myProducts" class="nav-link" role="tab" data-toggle="tab"
                        (click)="navigateMyProducts()">My Products</a>
                </li>
                <li class="nav-item">
                    <a href="#createUser" class="nav-link" role="tab" data-toggle="tab"
                        (click)="navigateCreateUser()">Create User</a>
                </li>
            </ul>
            <div class="tab-content">
                <router-outlet></router-outlet>
                <div role="tabpanel" class="tab-pane active show" id="home">
                </div>
                <div role="tabpanel" class="tab-pane fade active" id="inventory">
                </div>
                <div role="tabpanel" class="tab-pane fade active" id="myProducts">
                </div>
                <div role="tabpanel" class="tab-pane fade active" id="createUser">
                </div>
            </div>
        </div>
    </div>