@import url("https://fonts.googleapis.com/css?family=Hind:700&display=swap");

img {
  width: 207px;
  height: 205px;
}

.userButton {
  font-size: 11px;
  border-radius: 0;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.myButtons {
  text-align: center;
  margin-top: 10px;
}
.myButtons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}
a {
  letter-spacing: 0.2em;
  font-family: "Hind", sans-serif;
  font-weight: 700;
}

.jumbotron {
  height: 650px;
}

img {
  animation: 5s rotate180 infinite linear;
}

@keyframes rotate180 {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  20% {
    transform: rotateY(72deg);
    opacity: 0.8;
  }
  40% {
    transform: rotateY(144deg);
    opacity: 0.4;
  }
  60% {
    transform: rotateY(216deg);
    opacity: 0.4;
  }
  80% {
    transform: rotateY(288deg);
    opacity: 0.8;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

#cp {
  max-width: 180px;
  width: 100%;
  height: 30px;
  position: relative;
}
#lo {
  max-width: 180px;
  width: 100%;
  height: 30px;
  position: relative;
}

.card {
  min-width: 256px;
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .card {
    width: 690%;
  }
}

@media only screen and (max-width: 991px) {
  .card {
    width: 715%;
  }
  img {
    width: 117px;
    height: 115px;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    width: 760%;
  }
  img {
    width: 117px;
    height: 115px;
  }
  #cp {
    max-width: 180px;
    width: 100%;
    height: 30px;
    position: relative;
  }
  #lo {
    max-width: 180px;
    width: 100%;
    height: 30px;
    position: relative;
  }
}

@media only screen and (max-width: 576px) {
  .card {
    width: 100%;
  }
  img {
    width: 117px;
    height: 115px;
  }
  #cp {
    max-width: 180px;
    width: 100%;
    height: 30px;
    position: relative;
  }
  #lo {
    max-width: 180px;
    width: 100%;
    height: 30px;
    position: relative;
  }

  a {
    font-size: 90%;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0px;
  }
  li {
    margin-left: 5px;
    font-size: 16px;
  }
}
