<div class="container-fluid main p-0">
  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
    </ol>
    <!--/.Indicators-->
    <div class="carousel-inner">

      <!-- Carousel Banner  -->
      <div class="carousel-item active">
        <img class="d-block w-100 carousel-images" src="assets\MOBILEPHONES-CAROUSEL\asus-carousel-5.jpg">
        <div class="container-fluid p-0">
          <div class="container-overlay">
            <div class="first-entry">your dream promo</div>
            <div class="text-phone">asus rog ii</div>
            <div class="second-entry">exceed your limit</div>
            <div class="row justify-content-start">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <button class="btn btn-outline-info first-carousel-button">View Product</button>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <button class="btn btn-outline-info second-carousel-button">Purchase Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 carousel-images" src="assets\MOBILEPHONES-CAROUSEL\samsung-carousel-1.jpg">
        <div class="container-fluid">
          <div class="container-overlay">
            <div class="first-entry">your dream promo</div>
            <div class="text-phone">samsung note 10</div>
            <div class="second-entry">exceed your limit</div>
            <div class="container-fluid p-0">
              <div class="row justify-content-start">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <button class="btn btn-outline-info first-carousel-button">View Product</button>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <button class="btn btn-outline-info second-carousel-button">Purchase Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 carousel-images" src="assets\MOBILEPHONES-CAROUSEL\oppo-carousel-2.jpg">
        <div class="container-fluid">
          <div class="container-overlay">
            <div class="first-entry">your dream promo</div>
            <div class="text-phone">oppo reno series</div>
            <div class="second-entry">exceed your limit</div>
            <div class="container-fluid p-0">
              <div class="row justify-content-start">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <button class="btn btn-outline-info first-carousel-button">View Product</button>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <button class="btn btn-outline-info second-carousel-button">Purchase Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 carousel-images" src="assets\MOBILEPHONES-CAROUSEL\huawei-carousel-3.jpg">
        <div class="container-fluid">
          <div class="container-overlay">
            <div class="first-entry">your dream promo</div>
            <div class="text-phone">huawei p30 pro</div>
            <div class="second-entry">exceed your limit</div>
            <div class="container-fluid p-0">
              <div class="row justify-content-start">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 huaweiProduct">
                  <button class="btn btn-outline-info first-carousel-button">View Product</button>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 huaweiProduct">
                  <button class="btn btn-outline-info second-carousel-button">Purchase Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 carousel-images" src="assets\MOBILEPHONES-CAROUSEL\iphone-carousel-4.jpg">
        <div class="container-fluid">
          <div class="container-overlay">
            <div class="first-entry">your dream promo</div>
            <div class="text-phone">iphone x</div>
            <div class="second-entry">exceed your limit</div>
            <div class="container-fluid p-0">
              <div class="row justify-content-start">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <button class="btn btn-outline-info first-carousel-button">View Product</button>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <button class="btn btn-outline-info second-carousel-button">Purchase Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



<!--MAIN CONTENT-->

<!--PRODUCT ADVERTISEMENT -->

<!--ASUS PHONE-->
<main class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4">
        <div class="view overlay">
          <img src="assets\HOME IMAGES\asus-adverstisement-3.png" class="img card-img-top" alt="">
          <div class="mask rgba-white-light"></div>
        </div>
      </div>
      <div class="col-md-7 mb-4">
        <h2>Asus ROG</h2>
        <hr>
        <p>ROG Phone Game Changer, Epic Performance. Unbeatable Visuals. A new era of mobile gaming has dawned. An era
          where you take full control,
          where every sense is hieghtened, where evert sinew is ready for the fray. With pure ROG gaming DNA ai tis
          core, ROG Phone breaks every rule
          to go where rivals fear to tread.
        </p>
        <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
      </div>
    </div>
    <!--SAMSUNG PHONE-->
    <div class="row">
      <div class="col-md-7 mb-4 mt-5">
        <h2>Samsung Galaxy <br> Note 10 | 10+</h2>
        <hr>
        <p>Galaxy Note 10 | 10 + designed for a mobile experience that's like in compute,
          a gaming console, a movie-tech camera, and a intelligent pen, all in one device.
        </p>
        <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
      </div>
      <div class="col-md-5 mb-4">
        <div class="view overlay">
          <img src="assets\HOME IMAGES\samsung-advertisement-2.png" class="img card-img-top" alt="">
          <div class="mask rgba-white-light"></div>
        </div>
      </div>
      <!-- /.Grid column-->
    </div>
    <!--APPLE PHONE-->
    <div class="row">
      <div class="col-md-5 mb-4">
        <div class="view overlay">
          <img src="assets\HOME IMAGES\iphone-advertisement-1.png" class="img card-img-top" alt="">
          <div class="mask rgba-white-light"></div>
        </div>
      </div>
      <div class="col-md-7 mb-4">
        <h2>Apple iPhone XR</h2>
        <hr>
        <p>All-screen design. Longest battery life ever in an iPhone. Fastest performance.
          Water and splash resistance. Studio-quality photos and 4K video.More secure with Face ID.
          The new iPhone XR. It's brilliant upgrade.
        </p>
        <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
      </div>
    </div>
    <!--OPPO PHONE-->
    <div class="row">
      <div class="col-md-7 mb-4 mt-5">
        <h2>Oppo RENO</h2>
        <hr>
        <p>Oppo Reno is about seeing the world from completely new perspectives.
          The Technology behind Reno elevates photograhpy and mobile
          entertainment to all-new heights. Let Reni further you vision.
        </p>
        <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
      </div>
      <div class="col-md-5 mb-4">
        <div class="view overlay">
          <img src="assets\HOME IMAGES\oppo-advertisement-4.png" class="img card-img-top" alt="">
          <div class="mask rgba-white-light"></div>
        </div>
      </div>
      <!-- /.Grid column-->
    </div>
    <!--HUAWEI PHONE-->
    <div class="row">
      <div class="col-md-5 mb-4">
        <div class="view overlay">
          <img src="assets\HOME IMAGES\huawei-advertisement-5.png" class="img card-img-top" alt="">
          <div class="mask rgba-white-light"></div>
        </div>
      </div>
      <div class="col-md-7 mb-4">
        <h2>Huawei P30 | P30 lite</h2>
        <hr>
        <p>All-screen design. Longest battery life ever in an iPhone. Fastest performance.
          Water and splash resistance. Studio-quality photos and 4K video.More secure with Face ID.
          The new iPhone XR. It's brilliant upgrade.
        </p>
        <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
      </div>
    </div>
    <hr>


    <!--END OF PRODUCT ADVERTISEMENT-->


    <!-- Carousel Product-Category -->
    <div id="multi-item" class="carousel slide carousel-multi-item mt-5" data-ride="carousel" data-interval="false">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../assets/contentImg/img1.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Smartphones</h4>
                  <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-sm-inline">
              <div class="card mb-2">
                <img class="card-img-top" src="../assets/contentImg/gaming.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Game Consoles</h4>
                  <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-sm-inline">
              <div class="card mb-2">
                <img class="card-img-top" src="../assets/contentImg/accessories.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Accessories</h4>
                  <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../assets/contentImg/laptops.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Laptops</h4>
                  <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-sm-inline">
              <div class="card mb-2">
                <img class="card-img-top" src="../assets/contentImg/Desktops.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Dekstops</h4>
                  <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-sm-inline">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">View All</h4>
                  <button type="button" class="btn btn-outline-info waves-effect">Shop Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.Second slide-->
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <div class="controls-top text-center mt-4 mb-5">
        <a class="btn-floating ml-3 mr-3" href="#carousel" href="#multi-item" data-slide="prev">
          <i class="fa fa-chevron-left"></i>
        </a>
        <a class="btn-floating  ml-3 mr-3" href="#carousel" href="#multi-item" data-slide="next">
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
    <hr>
    <!--Grid row-->
  </div>

</main>