@import url("https://fonts.googleapis.com/css?family=Hind:700&display=swap");

// carousel

.carousel-images {
  height: 700px;
  background-size: cover;
  position: relative;
}
// carousel prev & next buttons
.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

// global tags
.btn {
  font-size: 15px;
}

.row {
  text-align: left;
}

// container inside carousel

div.container-overlay {
  position: absolute;
  top: 350px;
  left: 150px;
  bottom: 100px;
  right: 900px;
  text-align: center;
  width: 500px;
  height: auto;
}

.first-entry {
  text-transform: uppercase;
  font-family: brandon-grotesque, sans-serif;
  font-weight: normal;
  color: whitesmoke;
  opacity: 0.7;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
  text-align: left;
  padding-left: 0px;
}

.text-phone {
  font-family: brandon-grotesque, sans-serif;
  font-size: 2.7em;
  font-weight: 700;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
  text-align: left;
  padding-left: 0px;
}

.second-entry {
  font-family: brandon-grotesque, sans-serif;
  font-size: 1.688em;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
  font-weight: 500;
  opacity: 0.9;
  text-transform: uppercase;
  text-align: left;
  padding-left: 0px;
}

// media global

@media only screen and (max-width: 1200px) {
  .carousel-images {
    height: auto;
  }

  div.container-overlay {
    position: absolute;
    top: 40%;
    left: 10%;
    bottom: 100px;
    right: 900px;
    text-align: center;
    width: 500px;
    height: auto;
  }
}

@media only screen and (max-width: 575px) {
  // container inside carousel
  .first-carousel-button {
    position: absolute;
    font-size: 10px;
  }
  .second-carousel-button {
    position: absolute;
    left: 130px;
    font-size: 10px;
  }
  .carousel-images {
    height: auto;
  }

  div.container-overlay {
    position: absolute;
    top: 40%;
    left: 10%;
    bottom: 100px;
    right: 900px;
    text-align: center;
    width: 500px;
    height: auto;
  }

  .first-entry {
    text-transform: uppercase;
    font-family: brandon-grotesque, sans-serif;
    font-weight: normal;
    color: whitesmoke;
    opacity: 0.7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
    text-align: left;
    padding-left: 0px;
    font-size: 0.7em;
  }

  .text-phone {
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
    text-align: left;
    padding-left: 0px;
  }

  .second-entry {
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.1em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
    font-weight: 500;
    opacity: 0.9;
    text-transform: uppercase;
    text-align: left;
    padding-left: 0px;
  }
}
@media only screen and (max-width: 575px){
  .img {
    width: 250px;
    height: 250px;
    margin-left: 120px;
    text-align: center;
  }
}

@media only screen and (max-width: 532px){
  .img {
    width: 250px;
    height: 250px;
    margin: auto;
    text-align: center;
  }
}
