
<app-help *ngIf="targetHelp" (targetTsrOut)="tsrTargetIn($event)" (targetCsrOut)="csrTargetIn($event)"></app-help>
<app-csr-request *ngIf="targetCsr" (csrFormValueOut)="csrFormValueIn($event)"></app-csr-request>
<app-tsr-request *ngIf="targetTsr" (tsrFormValueOut)="tsrFormValueIn($event)"></app-tsr-request>
