@import url("https://fonts.googleapis.com/css?family=Hind:700&display=swap");

.container {
  background-image: url("/assets/background/main-bg.jpg");
}

.text-login {
  color: white;
  font-family: "Hind", sans-serif;
}

.wrapper {
  margin-bottom: 80px;
  margin-top: 80px;
}
form {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
}
.container {
  margin-top: 50px;
}
button {
  font-family: "Hind", sans-serif;
}
input {
  font-family: "Hind", sans-serif;
}

small {
  position: absolute;
  margin-left: -142px;
  margin-top: 37px;
  font-size: 14px;
  font-family: "Hind", sans-serif;
}

.imgLogo {
  padding-top: 35px;
  animation: 5s rotate180 infinite linear;
}

@media only screen and (max-width: 960px) {
  .imgLogo {
    height: 200px;
    width: 200px;
    margin-bottom: -80px;
    margin-right: 128px;
    margin-left: 128px;
  }
}

@keyframes rotate180 {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  20% {
    transform: rotateY(72deg);
    opacity: 0.8;
  }
  40% {
    transform: rotateY(144deg);
    opacity: 0.4;
  }
  60% {
    transform: rotateY(216deg);
    opacity: 0.4;
  }
  80% {
    transform: rotateY(288deg);
    opacity: 0.8;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}
