<div class="container example z-depth-5">
  <div class="row justify-content-center">

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
      <img src="/assets/logo/IGE-LOGO.png" alt="" class="imgLogo">
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">

      <div class="wrapper">

        <form [formGroup]="loginForm" class="text-center " action="#!">
          <img src="https://img.icons8.com/color/96/000000/admin-settings-male.png">
          <p class="h4 mb-4 text-login">Hi! Welcome to IGE!</p>
          <small class="lead text-muted">example@google.com</small>

          <input type="text" id="userId" formControlName="email" autocomplete="off" class="form-control mb-4" placeholder="E-mail Address">
          <div class="p-2"></div>

          <input type="password" id="defaultLoginFormPassword" formControlName="password" class="form-control mb-4" placeholder="Password">

          <button class="btn btn-primary btn-block my-4" (click)="signIn()">Sign in</button>
        </form>

      </div>

    </div>

  </div>
</div>