<div class="container-fluid">
    <div class="row m-0" id="mainRow">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0 pr-1">
            <app-product-list></app-product-list>
        </div>
<!--         <div class="col-sm-3 col-md-3 col-lg-3 pr-1 pl-0">
            <app-add-to-cart></app-add-to-cart>
        </div> -->
    </div>
</div>