<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card shadow">
                        <div class="card-header text-center">
                            <h1 class="mb-0 my-2 text-uppercase">User Registration</h1>
                        </div>
                        <div class="card-body">
                            <form #form="ngForm" [formGroup]="registrationForm"
                                (ngSubmit)="registrationForm.valid && onRegistrationSubmit(registrationForm.value)" novalidate
                                autocomplete="on">

                                <div class="form-group">
                                    <input class="form-control mb-4" formControlName="name" placeholder="Name" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control mb-4" formControlName="email" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <select class=" from-control browser-default custom-select" formControlName="role">
                                        <option value="" disabled>Choose option</option>
                                        <option value="Admin" selected>Sales</option>
                                        <option value="CSR">CSR Team</option>
                                        <option value="TSR">TSR Team</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control mb-4" formControlName="password" placeholder="Password"
                                        [type]="!hide ? 'password':'text'" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control mb-4"
                                        [class.is-invalid]="registrationForm.errors?.passwordsDoNotMatch"
                                        formControlName="verifyPassword" placeholder="Verify password"
                                        [type]="!hide ? 'password':'text'" />
                                    <input type="checkbox" (click)="hide = !hide">Show Password
                                </div>
                                <div *ngIf="registrationForm.errors?.passwordsDoNotMatch">
                                    <small>Password do not match</small>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-success btn-lg float-left"
                                        [disabled]="!registrationForm.valid">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>