<!--ADD BUTTON-->
<div class="btnAdd">
    <button class="btn btn-success modAdd  text-uppercase" data-toggle="modal" data-target="#basicExampleModal2"
        data-backdrop="static">Add Product</button>
</div>

<!--ADD MODAL-->
<div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--CONTENT MODAL-->
            <div class="modal-body">
                <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
                    <div class="container-fluid">
                        <div class="row">

                            <!--FIRST COLUMN-->
                            <div class="col-8 col-sm-6">
                                <div class="text-center">
                                    <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
                                </div>
                                <div class="form-group">
                                    <label>Select file to upload</label>
                                    <input type="file" accept="image/*" class="form-control" #fileUploader
                                        formControlName="imageUrl" (change)="showPreview($event)">
                                    <div class="text-danger"
                                        *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Thisfield is
                                        required.
                                    </div>
                                </div>
                            </div>

                            <!--SECOND COLUMN-->
                            <div class="col-4 col-sm-6  mt-4">
                                <div class="form-group">
                                    <input class="form-control" formControlName="prodName" placeholder="Product Name">
                                    <div class="text-danger"
                                        *ngIf="isSubmitted && formControls.prodName.errors?.required">This field is
                                        required.</div>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" formControlName="price" placeholder="Price"
                                        type="number">
                                    <div class="text-danger" *ngIf="isSubmitted && formControls.price.errors?.required">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" formControlName="qty" placeholder="Quantity">
                                    <div class="text-danger" *ngIf="isSubmitted && formControls.qty.errors?.required">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group">
                                    <select formControlName="category" class="form-control">
                                        <option value="Asus">Asus</option>
                                        <option value="Samsung">Samsung</option>
                                        <option value="Huawei">Huawei</option>
                                        <option value="Oppo">Oppo</option>
                                        <option value="Iphone">Iphone</option>
                                    </select>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <a routerLink="product-list"
                                            class="btn btn-primary btn-block float-right">Product List </a>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <button type="submit"
                                            class="btn btn-success btn-block float-right">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            <!--END CONTENT-->

        </div>
    </div>
</div>