@import url("https://fonts.googleapis.com/css?family=Hind:700&display=swap");

div {
  font-family: "Hind", sans-serif;
  font-weight: 600;
}

.btnAdd {
  text-align: center;
}

.modAdd {
  font-size: 13px;
  border-radius: 0;
  width: auto;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  letter-spacing: .1em;
}
