<div class="container mt-5">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="card shadow z-depth-1  px-5 py-4 "  >
                <div class="text-dark">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <img src="../assets/img/csr.png" class="img-fluid" alt="">
                        </div>
                        <div
                            class=" col-xl-6 col-lg-6 col-md-6 col-sm-6 ml-auto d-flex align-items-center mt-4 mt-md-0">
                            <div>
                                <h2>Customer Support</h2>
                                <p>Get in touch with our Customer Support team to see
                                    how we can work together
                                </p>
                                <button type="button" class="btn btn-outline-info" (click)="customerService()">Customer Support <i class="fas fa-angle-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="card shadow z-depth-1 px-5 py-4"  >
                <div class="text-dark">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                            <img src="../assets/img/tsr.png" class="img-fluid" alt="">
                        </div>
                        <div
                            class=" col-xl-6 col-lg-6 col-md-6 col-sm-6 ml-auto d-flex align-items-center mt-4 mt-md-0">
                            <div>
                                <h2>Technical Support</h2>
                                <p>Reach out to our Technical Team directly for immediate
                                    assistance with all technical related issues.
                                </p>
                                <button type="button" class="btn btn-outline-info"(click)="technicalSupport()">Technical Support <i class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
