<div class="mt-5 mb-5">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
            directly. Our Technical Support team will come back to you within
            a matter of hours to help you.</p>
        <div class="row">
            <div class="col">
                <form [formGroup]="tsrRequestForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" formControlName="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" formControlName="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Topic</label>
                                <select formControlName="topic" class="form-control">
                                    <option value=""></option>
                                    <option value="physically damaged">physically damaged</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Type</label>
                                <select formControlName="type" class="form-control">
                                    <option value=""></option>
                                    <option value="return policy and warranty?">return policy and warranty?</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="subject" class="">Title</label>
                                <input type="text" formControlName="title" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">Your message</label>
                                <textarea type="text" id="message" name="message" rows="2"
                                    class="form-control" formControlName="message"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center text-md-left">
                    <button class="btn btn-outline-info btn-lg btn-block" (click)="onCustomerSubmit(tsrRequestForm.value)"
                    [disabled]="!tsrRequestForm.valid">Send</button>
                </div>
                <div class="status"></div>
            </div>
        </div>
    </div>
</div>
