<div class="card z-depth-1">
    <h4 class="d-flex justify-content-between align-items-center my-2 mx-3">
        <span class="text-muted" id="prodName">Number of Item(s):</span>
        <span class="badge badge-primary badge-pill badge-warning" id="prodPrice">{{products.length}}</span>
    </h4>
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed"
            *ngFor="let product of products">
            <div>
                <h6 class="my-0" id="prodName">{{product.prodName}}</h6>
            </div>
            <span class="text-muted" id="prodPrice">&#8369; {{product.price | number:'1.2'}}</span>
        </li>
        <hr>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted" id="prodName">Total (PHP)</span>
            <strong id="prodPrice">&#8369; {{totalValue | number:'1.2'}}</strong>
        </li>
        <a class="btn btn-primary mt-3 mx-4" [routerLink]="['/shopping-cart']">Continue Shipping</a>
        <!-- <a class="btn btn-default" [routerLink]="['/checkouts']">Checkout</a> -->
    </ul>
</div>