@import url('https://fonts.googleapis.com/css?family=Yrsa&display=swap');

#prodPrice {
    font-family: 'Yrsa', serif;
    font-size: 20px;
}
#prodName {
    font-family: 'Tajawal', sans-serif;
    color: #2979ff ;
    font-weight: bold;
}
#myPagination {
    font-weight: 600;
    text-align: center;
}