<!--1st COLUMN-->

<form class="form-inline">
  <input class="form-control" name="searchInput" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText"
    style="width: 80%;">
  <button class="btn btn-outline-primary" (click)="searchText=''">Clear</button>
</form>
<table class="table table-sm">
  <thead>
    <th>Product Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
  </thead>
  <ng-container *ngFor="let image of imageArray | paginate : {itemsPerPage :10, currentPage: p }">
    <ng-container *ngIf="filterCondition(image)">
      <tr class="table-dark">
        <td>{{image.prodName}}</td>
        <td>{{image.category}}</td>
        <td>&#8369; {{image.price | number:'1.2-3'}}</td>
        <td>{{image.qty}} pcs</td>

        <td>
          <!--EDIT ICON-->
          <i class="fas fa-pencil-alt editIcon" data-toggle="modal" data-target="#basicExampleModal"
            data-backdrop="static" (click)="populateForm(image)"></i>
          <!--DELETE ICON-->
          <i class="fa fa-trash trashIcon" (click)="onDelete(image.$key,image.imageUrl)"></i>
        </td>
      </tr>
    </ng-container>
  </ng-container>
</table>
<div id="myPagination">
  <pagination-controls (pageChange)="p =$event" style="margin-top:10px;"></pagination-controls>
</div>
<!--ALERT FOR DELETE-->
<div class="alert alert-danger" *ngIf="showDeletedMessage">
  Deleted successfully.
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Editing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <!-- content modal -->
        <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">

          <div class="form-group">
            <input class="form-control" formControlName="prodName" placeholder="Product Name">
            <div class="text-danger" *ngIf="isSubmitted && formControls.prodName.errors?.required">This field is
              required.
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="price" placeholder="Price">
            <div class="text-danger" *ngIf="isSubmitted && formControls.price.errors?.required">This field is
              required.
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="qty" placeholder="Quantity">
            <div class="text-danger" *ngIf="isSubmitted && formControls.qty.errors?.required">This field is
              required.
            </div>
          </div>
          <div class="form-group">
            <select class="form-control" formControlName="category">
              <option value="Mobile">Mobile</option>
              <option value="Laptop">Laptop</option>
              <option value="Accessories">Accessories</option>
            </select>
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>