
.container-fluid{
  margin-top: 100px;
}

.productIamge {
  height: 10px;
  width: 10px;
}

#myPagination {
  font-weight: 600;
  text-align: center;
}

// LIST
th{
  padding-right: 20px;
}
td {
  color: black;
  padding: 10px;
  font-weight: 400
}

// ICONS

i.editIcon {
  color: blue;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
}

i.trashIcon {
  color: red;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
}

i.cartIcon {
  color: green;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
}

@media only screen and (max-width: 576px) {
  .table-dark {
    font-size: 13px;
  }
}