@import url("https://fonts.googleapis.com/css?family=Hind:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind:700&display=swap");

#myPagination {
  text-align: center;
  font-weight: 600;
}

h5 {
  font-family: "Hind", sans-serif;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 600;
}

.labels {
  font-weight: 1;
  cursor: pointer;
  font-size: 15px;
}

a {
  color: black;
  margin: 0 20px 0;
  text-align: center;
  font-family: "Hind", sans-serif;
  font-weight: 600;
}
.text-dark {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 600;
}

.bg-white {
  height: 300px;
}

// IMAGE PRODUCT

.productImage {
  text-align: center;
}
img {
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.1s;
}

img:hover {
  transform: scale(1.1);
}

// ICONS

.iconImage {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.1s;
  margin: 0px 15px 0px;
}

.iconImage:hover {
  transform: scale(1.5);
}

#like {
  color: #4c6ef5;
}

#heart {
  color: #f783ac;
}

#cart {
  color: #63a14d;
}

#allPhone {
  display: inline-flex;
}

#specific {
  width: 304px;
  list-style: none;
}

.spesific-product {
  list-style: none;
  display: inline-flex;
  margin-bottom: 50px;
  width: 300px;
}


// @medias

@media only screen and (max-width: 1200px) {
  #specific {
    width: 275px;
  }
}

@media only screen and (max-width: 992px) {
  img {
    width: 100px;
    height: 150px;
    margin-top: 50px;
  }
  #specific {
    width: 300px;
  }
  li {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
  }
  .nav-item {
    margin: 0px;
    padding: 0px;
  }
}

@media only screen and (max-width: 768px) {
  #specific {
    width: 345px;
  }
  li {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    margin-right: 0px;
    margin-left: 0px;
  }
  .nav-item {
    margin: 0px;
    padding: 0px;
  }
}

@media only screen and (max-width: 576px) {
  #specific {
    width: 500px;
    list-style: none;
  }
  li {
    font-size: 14px;
  }
  .nav-item {
    margin: 0px;
    padding: 0px;
  }
}
