<div class="container-fluid p-0 mr-0">
  <div class="row" id="mainRow">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="container-fluid pl-1">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <!--SUB MENU TABS-->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#allProducts">ALL PRODUCTS</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" data-toggle="tab" href="#asus">ASUS</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " data-toggle="tab" href="#huawei">HUAWEI</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " data-toggle="tab" href="#iphone">IPHONE</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " data-toggle="tab" href="#oppo">OPPO</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " data-toggle="tab" href="#samsung">SAMSUNG</a>
              </li>
            </ul>

            <!--TAB PANE -->

            <div id="myTabContent" class="tab-content">
              <!--ALL PRODUCTS TAB PANE -->
              <div class="tab-pane fade active show" id="allProducts">

                <div class="contianer-fluid">
                  <div class="row justify-content-start ml-1">

                    <div *ngFor="let product of productList">

                      <div class="card specific-product  mr-1 mb-1" id="specific">

                        <div class="bg-white rounded shadow-sm example z-depth-1">

                          <a [routerLink]="['/product-info', product.$key]">

                            <div class="productImage">
                              <img [src]="product.imageUrl" width="200px" height="200px">
                            </div>


                            <div class="text-center"></div>

                            <div class="text-dark ">{{product.prodName}} <br>
                              <h6>&#8369;{{product.price | number:'1.2-3'}}</h6>
                            </div>
                          </a>
                        </div>

                        <div class="d-flex align-items-center justify-content-center m-2 myIcons">
                          <i class="fas fa-thumbs-up iconImage" id="like"></i>
                          <i class="fas fa-heart iconImage" id="heart"></i>
                          <i class="fas fa-cart-plus iconImage" id="cart" (click)="addToCart(product)"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--ASUS TAB PANE -->
              <div class="tab-pane fade" id="asus">
                <div class="row justify-content-start">
                  <div *ngFor="let product of imageArray">
                    <div *ngIf="filterAsus(product)">
                      <div class="card z-depth-1 specific-product  mr-1 mb-1" id="specific">
                        <div class="bg-white rounded shadow-sm example z-depth-1">
                          <div class="productImage">
                            <img [src]="product.imageUrl" width="200px" height="200px">
                          </div>
                          <div class="text-dark ">{{product.prodName}} <br> &#8369;{{product.price | number:'1.2-3'}}
                          </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center m-2 myIcons">
                          <i class="fas fa-thumbs-up iconImage" id="like"></i>
                          <i class="fas fa-heart iconImage" id="heart"></i>
                          <i class="fas fa-cart-plus iconImage" id="cart" (click)="addToCart(product)"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--HUAWEI TAB PANE -->
              <div class="tab-pane fade" id="huawei">
                <div class="container-fluid ml-2">
                  <div class="row">
                    <div *ngFor="let product of imageArray">
                      <div *ngIf="filterHuawei(product)">
                        <div class="card z-depth-1 specific-product  mr-1 mb-1" id="specific">
                          <div class="bg-white rounded shadow-sm example z-depth-1">
                            <div class="productImage">
                              <img [src]="product.imageUrl" width="200px" height="200px">
                            </div>
                            <div class="text-dark ">{{product.prodName}} <br> &#8369;{{product.price | number:'1.2-3'}}
                            </div>
                          </div>
                          <div class="d-flex align-items-center justify-content-center m-2 myIcons">
                            <i class="fas fa-thumbs-up iconImage" id="like"></i>
                            <i class="fas fa-heart iconImage" id="heart"></i>
                            <i class="fas fa-cart-plus iconImage" id="cart" (click)="addToCart(product)"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--IPHONE TAB PANE -->
              <div class="tab-pane fade" id="iphone">
                <div class="container-fluid ml-2">
                  <div class="row">
                    <div *ngFor="let product of imageArray">
                      <div *ngIf="filterIphone(product)">
                        <div class="card z-depth-1 specific-product  mr-1 mb-1" id="specific">
                          <div class="bg-white rounded shadow-sm example z-depth-1">
                            <div class="productImage">
                              <img [src]="product.imageUrl" width="200px" height="200px">
                            </div>
                            <div class="text-dark ">{{product.prodName}} <br> &#8369;{{product.price | number:'1.2-3'}}
                            </div>
                          </div>
                          <div class="d-flex align-items-center justify-content-center m-2 myIcons">
                            <i class="fas fa-thumbs-up iconImage" id="like"></i>
                            <i class="fas fa-heart iconImage" id="heart"></i>
                            <i class="fas fa-cart-plus iconImage" id="cart" (click)="addToCart(product)"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--OPPO TAB PANE -->
              <div class="tab-pane fade" id="oppo">
                <div class="container-fluid ml-2">
                  <div class="row">
                    <div *ngFor="let product of imageArray">
                      <div *ngIf="filterOppo(product)">
                        <div class="card z-depth-1 specific-product  mr-1 mb-1" id="specific">
                          <div class="bg-white rounded shadow-sm example z-depth-1">
                            <div class="productImage">
                              <img [src]="product.imageUrl" width="200px" height="200px">
                            </div>
                            <div class="text-dark ">{{product.prodName}} <br> &#8369;{{product.price | number:'1.2-3'}}
                            </div>
                          </div>
                          <div class="d-flex align-items-center justify-content-center m-2 myIcons">
                            <i class="fas fa-thumbs-up iconImage" id="like"></i>
                            <i class="fas fa-heart iconImage" id="heart"></i>
                            <i class="fas fa-cart-plus iconImage" id="cart" (click)="addToCart(product)"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--SAMSUNG TAB PANE -->
              <div class="tab-pane fade" id="samsung">
                <div class="container-fluid ml-2">
                  <div class="row">
                    <div *ngFor="let product of imageArray">
                      <div *ngIf="filterSamsung(product)">
                        <div class="card z-depth-1 specific-product  mr-1 mb-1" id="specific">
                          <div class="bg-white rounded shadow-sm example z-depth-1">
                            <div class="productImage">
                              <img [src]="product.imageUrl" width="200px" height="200px">
                            </div>
                            <div class="text-dark ">{{product.prodName}} <br> &#8369;{{product.price | number:'1.2-3'}}
                            </div>
                          </div>
                          <div class="d-flex align-items-center justify-content-center m-2 myIcons">
                            <i class="fas fa-thumbs-up iconImage" id="like"></i>
                            <i class="fas fa-heart iconImage" id="heart"></i>
                            <i class="fas fa-cart-plus iconImage" id="cart" (click)="addToCart(product)"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>