<section>
    <video [muted]="true" autoplay loop playsinline height="170" width="1000">
        <source src="assets/video/smoke.mp4" type="video/mp4">
    </video>

    <h1>
        <span>
            <img src="assets\logo\IGE-LOGO.png" width="250px" height="250px" class="logoVideo" alt="Inter Gadget Logo">
        </span>
    </h1>
</section>

<div class="bg-light">
    <div class="container py-1">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4 text-uppercase">About <span class="text-uppercase" id="color"> us</span></h1>
                <p class="lead text-muted mb-0"><span class="companyName">IG-Express</span> or 
                    <span class="companyName">Intern Gadgets Express</span> is a retail company that focuses in
                    gadgets likeMobile Phones, Accessories, Laptops and Desktop. IG-Express started to support by 
                    many Companies around the world such as Samsung, Huawei, Oppo, Apple, Asus, and Etc. 
                    <a href="https://www.facebook.com/gleath05"><b>Glenel N.Tubera</b></a>, <a href="#">
                    <b>Christian Paul Napalit</b></a>, <a href="#"><b>Joel Flores</b></a> established IG-Express in 2019.
                    it new, IG-Express Company known quickly because of the services they give to their clients andpartnership.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="../assets/img/icon.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-3">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 d-none d-lg-block">
                <img
                    src="../assets/img/icon2.png" alt=""
                    class="img-fluid mb-4 mb-lg-0">
            </div>
            <div class="col-lg-6">
                    <p class="lead text-muted mb-0">because of <a href="https://pcx.com.ph/"> <b>PC EXPRESS</b></a>
                        The founders
                        came up with the idea to build the company IG-Express to help other company to sell their products.</p>
                </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-3">
        <div class="row mb-4 tex">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light text-uppercase">Our <span  class="text-uppercase" id="color">team</span> </h2>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../assets/founders/glenel.png" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Glenel N. Tubera</h5><span class="small text-uppercase text-muted">CEO -
                        Founder - Full Stack Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-facebook-f fa-fw blue-text"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-twitter fa-fw blue-text"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-instagram fa-fw pink-text"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-linkedin fa-fw blue-text"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../assets/founders/joel.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Joel Flores</h5><span class="small text-uppercase text-muted">CEO - Founder - Full
                        Stack Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-facebook-f fa-fw blue-text"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-twitter fa-fw blue-text"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-instagram fa-fw pink-text"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-linkedin fa-fw blue-text"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../assets/founders/napalit.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Christian Paul Napalit</h5><span class="small text-uppercase text-muted">CEO -
                        Founder - Full Stack Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-facebook-f fa-fw blue-text"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-twitter fa-fw blue-text"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-instagram fa-fw pink-text"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-linkedin fa-fw blue-text"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->
        </div>
    </div>
</div>