@import url("https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

/* h1 span img {
  margin-top: -330px;
  display: inline-block;
  animation: animate 1s linear forwards;
  opacity: 0;
  transform: translateY(-50%);
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

h1 span img:nth-child(1) {
  animation-delay: 2s;
} */



h1 span img {
  animation: 5s rotate180 infinite linear;
  margin-top: -330px;
}

@keyframes rotate180 {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  20% {
    transform: rotateY(72deg);
    opacity: 0.8;
  }
  40% {
    transform: rotateY(144deg);
    opacity: 0.4;
  }
  60% {
    transform: rotateY(216deg);
    opacity: 0.4;
  }
  80% {
    transform: rotateY(288deg);
    opacity: 0.8;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

section {
  height: 300px;
  background: black;
}

video {
  margin-top: 20px;
  object-fit: cover;
  margin-left: 450px;
  height: 270px;
  width: 700px;
}

section::before {
  content: "";
  position: absolute;
  top: 80;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fff, #f00, #0f0, #0ff, #ff0, #0ff);
  mix-blend-mode: color;
  pointer-events: none;
  height: 280px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

span .companyName {
  text-decoration: none;
  font-weight: 600;
}

.display-4 {
  text-align: left;
  font-family: "News Cycle", sans-serif;
  font-weight: bold;
  color: #002250;
}
p {
  font-family: "Karla", sans-serif;
}
#color {
  color: #ca3e47;
}

h6 span {
  animation-delay: 4.5s;
}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

p {
  text-align: justify;
}
