
#upButton{
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  outline: none;
}
#upButton i {
  position: relative;
  top: -1px;
}
.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}
