<!-- /Start your project here-->
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

<button id="upButton" *ngIf="isShow" (click)="gotoTop()" class="btn btn-dark btn-circle btn-circle-xl m-1"><i
    class="fas fa-angle-double-up"></i></button>
<!-- footer -->
<!-- <footer class="page-footer font-large bg-dark pt-4">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
  </div>
</footer> -->