
.view .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: auto; /* Adjust this value to move the positioned div up and down */
    background:rgba(0, 0, 0, 0.52);
    font-family: "Courier New", Courier, monospace;
    color: whitesmoke;
    width: auto; /* Set the width of the positioned div */
    height: auto;
}
.mask{
    cursor: pointer;
}