<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-5 mb-4 p-0 mr-2 ml-2" [routerLink]="['/shopping-cart']">
            <div class="view overlay zoom">
                <img src="../assets/contentImg/promo.png" class="card-img-top" alt="">
                <div class="mask flex-center rgba-black-light">
                    <div class="text">
                        <h1 class="display-3 font-weight-bold  text-uppercase">super<br>sale</h1>
                        <p class="blockqoute">*on selected items</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mb-4 p-0 ml-2 mr-2" [routerLink]="['/shopping-cart']">
            <div class="view overlay zoom">
                <img src="../assets/contentImg/promo2.png" class="card-img-top" alt="">
                <div class="mask flex-center rgba-black-light">
                    <div class="text">
                        <h1 class="display-3 font-weight-bold  text-uppercase">no<br>shipping<br>fee</h1>
                        <p class="blockqoute">**minimum purchase of &#8369;1,000.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5 mb-4 p-0 mr-2" [routerLink]="['/shopping-cart']">
            <div class="view overlay zoom">
                <img src="../assets/contentImg/promo3.png" class="card-img-top" alt="">
                <div class="mask flex-center rgba-black-light">
                    <div class="text">
                        <h1 class="display-3 font-weight-bold  text-uppercase">free<br>items</h1>
                        <p class="blockqoute">*on selected brands</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mb-4 p-0 ml-2" [routerLink]="['/shopping-cart']"> 
            <div class="view overlay zoom">
                <img src="../assets/contentImg/promo4.png" class="card-img-top" alt="">
                <div class="mask flex-center rgba-black-light">
                    <div class="text">
                        <h1 class="display-3 font-weight-bold  text-uppercase">shop & win</h1>
                        <p class="blockqoute">*every &#8369;10,000.00 = 1 raffle coupon</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>